<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Form</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div align="center">
			<h1>Data</h1>
			<br/>
			<div>

				<form th:action="@{save}" th:object="${toko}" method="post" style="max-width:600px; margin:0 auto;">
					<div class="form-group row">
						<label class="col-form-label col-4">Merk</label>
						<div class="col-8">
							<input type="hidden" th:field="*{id}"/>
							<input type="text" th:field="*{merk}" class="form-control"placeholder="Merk"/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Jenis</label>
						<div class="col-8">
							<input type="text" th:field="*{jenis}" class="form-control"placeholder="Jenis"/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Harga</label>
						<div class="col-8">
							<input type="number" th:field="*{harga}" class="form-control"placeholder="Harga"/>
						</div>
						
					</div>
					<br />
					<div>
						<button type="submit" class="btn btn-primary col-4" align="right">Save</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>